<div class="large-6 large-offset-3">
  <h1>Inscription</h1>


  <%= form_for :user, url: '/users' do |f| %>

      Name: <%= f.text_field :name %>
      Email: <%= f.text_field :email %>
      Password: <%= f.password_field :password %>
      Password Confirmation: <%= f.password_field :password_confirmation %>
      <input class="button" type="submit" value="S'inscrire">

      <a href="/login"><button class="button" style="float: right;">Sec connecter</button></a>
  <% end %>
</div>
